# Public host name
HOSTNAME=localhost
# Public base URL
BASE_URL=http://localhost:8080

# Postgres password (only used inside the stack)
POSTGRESQL_PASSWORD=secret

# Jupyterhub Postgres password (only used inside the stack)
JUPYTERHUB_POSTGRESQL_PASSWORD=secret

# Jupyterhub Postgres password (only used inside the stack)
KEYCLOAK_POSTGRESQL_PASSWORD=secret

# Atlas docker image
ATLAS_IMAGE=ohdsi/atlas
# Webapi docker image
WEBAPI_IMAGE=thehyve/ohdsi-webapi
WEBAPI_CLIENT_SECRET=secret
KEYCLOAK_ADMIN_PASSWORD=admin
JUPYTER_CLIENT_SECRET=secret
COMPOSE_PROJECT_NAME=ohdsi-docker
