# Public host name
HOSTNAME=ohdsi.localhost
# Public base URL
BASE_URL=http://ohdsi.localhost

# Postgres password (only used inside the stack)
POSTGRESQL_PASSWORD=secret

# Jupyterhub Postgres password (only used inside the stack)
JUPYTERHUB_POSTGRESQL_PASSWORD=secret

# Jupyterhub Postgres password (only used inside the stack)
KEYCLOAK_POSTGRESQL_PASSWORD=secret

# Atlas docker image
ATLAS_IMAGE=ohdsi/atlas:2.9.1
# Webapi docker image
WEBAPI_IMAGE=thehyve/ohdsi-webapi:2.9.1
WEBAPI_CLIENT_SECRET=secret
KEYCLOAK_ADMIN_PASSWORD=admin
JUPYTER_CLIENT_SECRET=secret
COMPOSE_PROJECT_NAME=ohdsi-docker

#Github PAT token (for R build)
GITHUB_PAT=token